@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

.rob {
  font-family: 'Roboto';
}

.landing-container {
  text-align: center;
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 5rem;
}

.title {
  font-size: 6rem;
}

.get-started {
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid grey;
}
