.piano {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.instructionKeys {
  display: flex;
}

.box {
  height: 1rem;
  width: 1rem;
}

.instructions {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
